@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700');

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  color: #222;
  width: 100%;
  overflow-x: hidden;
  padding-top: 40px;
}
.offset:before {
  height: 5rem;
  margin-top: -5rem;
  content:"";
  display: block;
}
.display-4 {
  text-align: center;
}
.short-bar {
  border-top: 2px solid #b4b4b4;
  width: 75%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}


/* Start of Navagation Bar CSS*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  z-index: 10000;
  background: #000!important;
}
.navbar-brand img{
  height: 2rem;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .navbar-link {
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .navbar-link.active, 
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(19, 200, 255);
}
/* End of Navagation Bar CSS*/



/* Start of Carousel CSS */
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 400%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
.carousel-control {
  position: absolute;
  top: 50%; 
  z-index: 5;
  display: inline-block;
}
/* End of Carousel CSS */



/*Start of JumboTron Links CSS*/
.jumbotron {
  background-color: #000!important;
  color: white!important;
  padding: 2px;
  border-radius: 0px!important;
}
.fa-github-square, .fa-linkedin, .fa-youtube-square{
  font-size: 3em;
  margin: .8rem;
  color: white;
}
.fa-github-square:hover, .fa-linkedin:hover, .fa-youtube-square:hover {
  background-color:  rgb(19, 200, 255);
}
.btn-primary {
  background-color: #000000;
  border: 1px solid rgb(19, 200, 255);
}
.btn-primary:hover {
  background-color:  rgb(19, 200, 255);
  border: 1px solid  rgb(19, 200, 255);
}
/*End of JumboTron Links CSS*/



/*Start Of Experience*/
.process-wrapper {
	margin:auto;
	max-width:1080px;
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:9999;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #aaa;
	transition:all ease 0.3s;
     
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #fff;
	background: deepskyblue; 
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:20%;
	text-align:center;
	color:#aaa;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
  font-size: 11.8px;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#444;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#777;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
	background:#555;
}

#progress-bar-container li.active:after {
	background:#207893;
}

#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: #000;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
	background: #207893;	 
	background: linear-gradient(to right, #207893 0%,#2ea3b7 100%); 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #000;
	border-radius: 4px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

.fa-university, .fa-briefcase, .fa-file-code, .fa-hands-helping, .fa-file-pdf {
  color: white;
  font-size: 2.5rem;
  padding-bottom: 2%;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color:#fff;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#fff;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}
/*End of Experience*/


/* Skills Section CSS*/
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2 rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-html5 {
  color: #e54d26;
}
.fa-bootstrap {
  color: #563d7c;
}
.fa-css3 {
  color: #2163AF;
}
.fa-js-square {
  color: rgb(209, 209, 66);
}
.fa-react {
  color:rgb(0, 156, 204);
}
.fa-gem {
  color: red;
}
.fa-html5, .fa-bootstrap, .fa-css3, .fa-js-square, .fa-react, .fa-gem {
  font-size: 4em;
  margin: .5rem;
}
.rails {
  font-size: 4em;
  margin: .5rem;
  width: 22%;
  height: auto;
}
.postgresql {
  font-size: 4em;
  margin: .5rem;
  width: 22%;
  height: auto;
}
.fa-adobe, .fa-film {
  font-size: 4em;
  margin: .5rem;
}
.adobe1 {
  color: rgb(198, 0, 198);
}
.adobe2 {
  color: rgb(114, 25, 114);
}
.adobe3{
  color:rgb(0, 94, 255);
}
.fa-film {
  color:rgb(12, 218, 12);
}
/*End Of Skills Section*/


/*--Beginning of Portfolio--*/
.jumbotron1 {
  border-radius: 0;
  padding: 1rem 0 0rem;
}
.portfolio img {
  max-width: 100%;
  transition: transform .5s ease;
}
.row.no-padding [class*=col-] {
  padding:0;
}
.portfolio img:hover{
  transform: scale(1.1);
  cursor: zoom-in;
}
.portfolio {
  overflow: hidden;
}
/*--End Of Portfolio--*/


/*--Beginning of Works In Progress--*/
.card {
  margin: 1rem;
}
/*--End of Works In Progress--*/


/*--Beginning of Contact--*/
footer {
  background-color: #000;
  color: #d5d5d5;
  width: 100%;
  padding-top: 2rem 0 3rem;
  display: block;
  text-align: center;
}
footer img {
  height: 4.5rem;
}
footer p {
  text-align: center;
}
hr.socket {
  border-top: .2rem solid #fff;
  width: 100%;
}

/*--End of Contact--*/


/*---Media Queries--*/
@media (max-width: 992px){
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 200%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000
  }
  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
  .body {
    padding-top:0px;
  }

}
@media (max-width: 576px){
  .display-4 {
    font-size: 160%;
  }
  .social a {
    font-size: 2em;
    padding: .7rem;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visibe;
}

/*---Bootstrap Padding Fix --*/
[class*="col-"]{
  padding: 1rem;
}