@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700');

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  color: #222;
  width: 100%;
  overflow-x: hidden;
  padding-top: 40px;
}
.offset:before {
  height: 5rem;
  margin-top: -5rem;
  content:"";
  display: block;
}
.display-4 {
  text-align: center;
}
.short-bar {
  border-top: 2px solid #a1a1a1;
  width: 75%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.paragraph {
  margin-left: 40px;
  margin-right: 40px;
}
#profilepic {
  margin-top: 70px;
}

/* Start of Navagation Bar CSS*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  z-index: 10000;
  background: #000!important;
}
.navbar-brand img{
  height: 2rem;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .navbar-link {
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .navbar-link.active, 
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(19, 200, 255);
}
/* End of Navagation Bar CSS*/



/* Start of Carousel CSS */
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 400%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
.carousel-control {
  position: absolute;
  top: 50%; 
  z-index: 5;
  display: inline-block;
}
/* End of Carousel CSS */



/*Start of JumboTron Links CSS*/
.jumbotron {
  background-color: #000!important;
  color: white!important;
  padding: 2px;
  border-radius: 0px!important;
}
.fa-github-square, .fa-linkedin, .fa-youtube-square, .fa-vimeo{
  font-size: 3em;
  margin: .8rem;
  color: #A1A1A1;
}
.fa-github-square:hover, .fa-linkedin:hover, .fa-youtube-square:hover, .fa-vimeo:hover {
  background-color:  rgb(19, 200, 255);
  color: black;
}
.btn-primary {
  background-color: #000000;
  border: 1px solid rgb(19, 200, 255);
  color: #A1A1A1;
}
.btn-primary:hover {
  background-color:  rgb(19, 200, 255);
  border: 1px solid  rgb(19, 200, 255);
  color: black;
}
/*End of JumboTron Links CSS*/



/*Start of Parallax CSS*/
.parallax1 {
  display: flex;
  height: 400px;
  background-image: url(img/albuquerque1.jpg);
  background-size: cover;
  opacity: 0.5;
  background-attachment: fixed;

}
.parallax2 {
  display: flex;
  height: 400px;
  background-image: url(img/la2.jpg);
  background-size: cover;
  opacity: 0.5;
  background-attachment: fixed;
}
.parallax3 {
  display: flex;
  height: 400px;
  background-image: url(img/croatia3.jpg);
  background-size: cover;
  opacity: 0.5;
  background-attachment: fixed;
}
.parallax4 {
  display: flex;
  height: 400px;
  background-image: url(img/newmexico3.jpg);
  background-size: cover;
  opacity: 0.5;
  background-attachment: fixed;
}
.parallax5 {
  display: block;
  height: 400px;
  background-image: url(img/croatia7.jpg);
  background-size: cover;
  opacity: 0.5;
  background-attachment: fixed;
}
/*End of Parallax CSS*/


/*Start Of Experience*/
.process-wrapper {
	margin:auto;
	max-width:1080px;
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:9999;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:20px;
	height:20px;
	border-radius:50%;
	border:solid 2px #aaa;
	transition:all ease 0.3s;   
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #fff;
	background: #13c8ff; 
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:20%;
	text-align:center;
	color:#555;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
  font-size: 11.8px;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#444;
}

#progress-bar-container li:after {
	margin:auto;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
}

#progress-bar-container li:hover:after {
	background:#555;
}

#progress-bar-container li.active:after {
	background:#207893;
}

#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: #000;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
	background: #207893;	 
	background: linear-gradient(to right, #207893 0%,#2ea3b7 100%); 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #000;
	border-radius: 4px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

.fa-university, .fa-briefcase, .fa-file-code, .fa-hands-helping, .fa-file-pdf {
  color: #A1A1A1;
  font-size: 2.5rem;
  padding-bottom: 2%;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color: #A1A1A1;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#A1A1A1;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}
/*End of Experience*/


/* Skills Section CSS*/
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2 rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
* {
  box-sizing: border-box;
}
.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}
#editingrow {
  margin: auto;
}
.img-full {
  display: block;
}
.img-mobile{
  display: none;
}
/*End Of Skills Section*/


/*--Beginning of Portfolio--*/
.jumbotron1 {
  border-radius: 0;
  padding: 1rem 0 0rem;
}
ul.filters{
  display: block;
  width: 100%;
  margin: 0;
  padding: 30px 0;
}

ul.filters > li{
  list-style: none;
  display: inline-block;
}

ul.filters > li > a{
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 5px 20px;
}

ul.filters > li > a:hover{
  background-color: #e6e9ed;
}

ul.filters > li.active > a{
  color: black;
  background-color: #13c8ff;
}

.card{
  position: relative;
  margin-bottom: 50px;
  color: #000;
  border-radius: 0;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075);
}

.card-head{
  position: relative;
  overflow: hidden;
}

.card-hover{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(	19, 200, 255,0.9);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.card-body{
  padding-top: 10px;
  padding-bottom: 10px;
}

h4.title{
  color: #000000;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.card-btn{
  margin-bottom: -40px;
  font-size: 0.9rem;
  background-color: #fff;
  color: #222;
  border: 1px solid #eee;
  border-radius: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.card-btn:hover{
  background-color: deepskyblue;
  color: black;
}
/*--End Of Portfolio--*/




/*--Beginning of Contact--*/
footer {
  background-color: #000;
  color: #a1a1a1;
  width: 100%;
  display: block;
  text-align: center;
  overflow: auto;
}
footer img {
  height: 4.5rem;
}
footer p {
  text-align: center;
  display:block;
}
hr.socket {
  border-top: .2rem solid rgb(175, 163, 163);
  width: 100%;
}
.fa-clipboard {
  color: #A1A1A1;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  vertical-align: middle;

}

/*--End of Contact--*/


/*---Media Queries--*/
@media (max-width: 992px){
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 200%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000
  }
  .display-4 {
    font-size: 200%;
  }
  .body {
    padding-top:0px;
  }

}
@media (max-width: 576px){
  .display-4 {
    font-size: 160%;
  }
  .img-fluid {
    margin-top: 10px;
  }
}
@media only screen and (max-device-width: 1366px) {
  .parallax1, .parallax2, .parallax3, .parallax4, .parallax5 {
    background-attachment: scroll;
  }
}
@media (max-width: 320px) {
  #progress-bar-container li .step-inner {
    font-size: 2px;
  }
  #progress-bar-container li:before {
    width:3px;
    height:3px; 
  }
}
@media (min-width:767px) {
  #portfolio .portfolio-item {
      margin: 0 0 30px
  }
}
@media (max-width: 767px) {
    .isotope-item {
        text-align: center;
    }
    #profilepic {
      margin-top: 20px;
    }
}
@media only screen and (max-width: 992px) {
  .columns {
    width: 100%;
  }
}
@media (max-width: 992px) and (min-width:320px){
  .img-full {
    display: none;
  }
  .img-mobile {
    display: block;
  }
}
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visibe;
}

/*---Bootstrap Padding Fix --*/
[class*="col-"]{
  padding: 1rem;
}